<template>
  <v-card>
    <v-card-title>
      <h1 class="display-1">User Management</h1>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        hide-details
        label="Search"
        single-line
        :style="{ maxWidth: '300px' }"
        v-model="search"
      ></v-text-field>
      <v-tooltip bottom>
        <user-dialog slot="activator" @save="createUser">
          <v-btn fab>
            <v-icon large color="info">add</v-icon>
          </v-btn>
        </user-dialog>
        <span>Add User</span>
      </v-tooltip>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :hide-actions="filteredUsers.length < 5"
      item-key="id"
      :items="filteredUsers"
      :loading="loading"
      :search="search"
    >
      <template slot="items" slot-scope="props">
        <tr>
          <td>{{ props.item.name }}</td>
          <td>{{ props.item.email }}</td>
          <td>{{ levels[props.item.level] }}</td>
          <td>
            <v-tooltip bottom>
              <change-password-dialog
                :user="props.item"
                slot="activator"
                v-if="isAuthorized(props.item.level - 1)"
              >
                <v-btn icon>
                  <v-icon color="info">vpn_key</v-icon>
                </v-btn>
              </change-password-dialog>
              <v-btn
                disabled
                icon
                slot="activator"
                v-else
              >
                <v-icon color="info">vpn_key</v-icon>
              </v-btn>
              <span>Reset Password</span>
            </v-tooltip>
            <v-tooltip bottom>
              <user-dialog
                @save="editUser"
                slot="activator"
                :user="props.item"
                v-if="isAuthorized(props.item.level - 1)"
              >
                <v-btn icon>
                  <v-icon color="warning">edit</v-icon>
                </v-btn>
              </user-dialog>
              <v-btn
                disabled
                icon
                slot="activator"
                v-else
              >
                <v-icon color="warning">edit</v-icon>
              </v-btn>
              <span>Edit User</span>
            </v-tooltip>
            <v-tooltip bottom>
              <agree-dialog
                text="Are you sure you want to delete this user?"
                @confirm="deleteUser(props.item.id)"
                slot="activator"
                v-if="isAuthorized(props.item.level - 1)"
              >
                <v-btn icon :disabled="!isAuthorized(props.item.level - 1)">
                  <v-icon color="error">delete</v-icon>
                </v-btn>
              </agree-dialog>
              <v-btn
                icon
                disabled
                slot="activator"
                v-else
              >
                <v-icon color="error">delete</v-icon>
              </v-btn>
              <span>Delete User</span>
            </v-tooltip>
          </td>
        </tr>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import levels from '../helpers/UserLevelNames'
import User from '@/models/User'

import UserDialog from '@/components/dialogs/UserDialog'
import AgreeDialog from '@/components/dialogs/AgreeDialog'
import ChangePasswordDialog from '@/components/dialogs/ChangePasswordDialog'

import {
  USER_INDEX,
  USER_CREATE,
  USER_UPDATE,
  USER_DELETE
} from '@/store/actions/user'
import usesAuthorization from '@/components/mixins/usesAuthorization'
import usesSnackbar from '@/components/mixins/usesSnackbar'

export default {
  created () {
    if (!this.usersLoaded) {
      this.loading = true
      this.$store.dispatch(USER_INDEX)
        .then(response => {
          this.loading = false
        })
        .catch(reason => {
          this.loading = false
          this.showError(reason.message)
        })
    }
  },
  components: {
    UserDialog,
    AgreeDialog,
    ChangePasswordDialog
  },
  computed: {
    ...mapGetters(['profile', 'users', 'usersLoaded']),
    filteredUsers () {
      return this.users.filter(user => user.id !== this.profile.id)
    }
  },
  data () {
    return {
      headers: [
        {
          text: 'Name', value: 'name'
        },
        {
          text: 'Email', value: 'email'
        },
        {
          text: 'Level', value: 'level'
        },
        {
          text: 'Actions', value: 'name', sortable: false
        }
      ],
      levels,
      loading: false,
      search: ''
    }
  },
  methods: {
    createUser (user) {
      this.loading = true
      this.$store.dispatch(USER_CREATE, user)
        .then(response => {
          this.loading = false
        })
        .catch(reason => {
          this.loading = false
          this.showError(reason.message)
        })
    },
    editUser (user) {
      this.loading = true
      this.$store.dispatch(USER_UPDATE, new User(user))
        .then(response => {
          this.loading = false
        })
        .catch(reason => {
          this.loading = false
          this.showError(reason.message)
        })
    },
    deleteUser (id) {
      this.$store.dispatch(USER_DELETE, id)
    }
  },
  mixins: [ usesAuthorization, usesSnackbar ]
}
</script>

<style>

</style>
