<template>
  <v-card dark>
    <v-card-title>
      <h1 class="display-2">Profile</h1>
    </v-card-title>
    <v-card-text>
      <v-container grid-list-xs>
        <v-layout row wrap>
          <v-flex xs12 lg6>
            <v-card dark color="accent" class="elevation-2">
              <v-card-title>
                <h2 class="display-1">Details</h2>
              </v-card-title>
              <v-card-text v-if="isProfileLoaded">
                <v-container grid-list-xs>
                  <v-layout row wrap align-center>
                    <v-flex xs4>
                      <h2 class="title">Name</h2>
                    </v-flex>
                    <v-flex xs8>
                      <simple-dialog
                        name="Name"
                        :rules="[rules.required]"
                        :value="profile.name"
                        @save="saveName"
                      >
                        <h3 class="headline pointer">{{ profile.name }}</h3>
                      </simple-dialog>
                    </v-flex>
                    <v-flex xs4>
                      <h2 class="title">Email</h2>
                    </v-flex>
                    <v-flex xs8>
                      <simple-dialog
                        name="Email"
                        :rules="[rules.required, rules.email]"
                        :value="profile.email"
                        @save="saveEmail"
                      >
                        <h3 class="headline pointer">{{ profile.email }}</h3>
                      </simple-dialog>
                    </v-flex>
                    <v-flex xs4>
                      <h2 class="title">Level</h2>
                    </v-flex>
                    <v-flex xs8>
                      <h3 class="headline">{{ levels[profile.level] }}</h3>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-text v-else>
                <v-progress-circular indeterminate color="primary"></v-progress-circular>
              </v-card-text>
              <v-card-actions v-if="isProfileLoaded">
                <change-password-dialog>
                  <v-btn flat>Change Password</v-btn>
                </change-password-dialog>
              </v-card-actions>
            </v-card>
          </v-flex>
          <v-flex xs12 lg6>
            <v-card dark color="accent" class="elevation-2">
              <v-card-title>
                <h2 class="display-1">Goals</h2>
              </v-card-title>
              <v-card-text>
                <v-container grid-list-xs>
                  <v-layout row wrap align-center>
                    <v-flex xs4>
                      <h2 class="title">Future</h2>
                    </v-flex>
                    <v-flex xs8>
                      <v-card v-ripple>
                        <simple-dialog
                          name="Future Goals"
                          :value="profile.goals.future"
                          @save="saveFuture"
                          multi-line
                          v-if="isProfileLoaded"
                        >
                          <v-card-text>
                            <h3 class="body-2 pointer">{{ profile.goals.future }}</h3>
                          </v-card-text>
                        </simple-dialog>
                        <v-card-text v-else>
                          <v-progress-circular indeterminate color="primary"></v-progress-circular>
                        </v-card-text>
                      </v-card>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap align-center>
                    <v-flex xs4>
                      <h2 class="title">Long Term</h2>
                    </v-flex>
                    <v-flex xs8>
                      <v-card v-ripple>
                        <simple-dialog
                          name="Long Term Goals"
                          :value="profile.goals.long"
                          @save="saveLong"
                          multi-line
                          v-if="isProfileLoaded"
                        >
                          <v-card-text>
                            <h3 class="body-2 pointer">{{ profile.goals.long }}</h3>
                          </v-card-text>
                        </simple-dialog>
                        <v-card-text v-else>
                          <v-progress-circular indeterminate color="primary"></v-progress-circular>
                        </v-card-text>
                      </v-card>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap align-center>
                    <v-flex xs4>
                      <h2 class="title">Short Term</h2>
                    </v-flex>
                    <v-flex xs8>
                      <v-card v-ripple>
                        <simple-dialog
                          name="Short Term Goals"
                          :value="profile.goals.short"
                          @save="saveShort"
                          multi-line
                          v-if="isProfileLoaded"
                        >
                          <v-card-text>
                            <h3 class="body-2 pointer">{{ profile.goals.short }}</h3>
                          </v-card-text>
                        </simple-dialog>
                        <v-card-text v-else>
                          <v-progress-circular indeterminate color="primary"></v-progress-circular>
                        </v-card-text>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import SimpleDialog from '@/components/dialogs/SimpleDialog'
import ChangePasswordDialog from '@/components/dialogs/ChangePasswordDialog'
import * as rules from '@/components/dialogs/helpers/ValidationRules'
import { USER_UPDATE } from '@/store/actions/user'
import levels from '@/components/helpers/UserLevelNames'
import User from '@/models/User'
import usesSnackbar from '@/components/mixins/usesSnackbar'

export default {
  components: {
    SimpleDialog,
    ChangePasswordDialog
  },
  computed: { ...mapGetters(['isProfileLoaded', 'profile']) },
  data () {
    return {
      levels,
      nameDialog: false,
      rules,
      valid: true
    }
  },
  methods: {
    saveName (name) {
      let user = new User(this.profile)
      user.name = name
      this.$store.dispatch(USER_UPDATE, user)
        .then(response => {
          this.showInfo('Successfully Updated Name')
        })
        .catch(reason => { this.showError(reason) })
    },
    saveEmail (email) {
      let user = new User(this.profile)
      user.email = email
      this.$store.dispatch(USER_UPDATE, user)
        .then(response => {
          this.showInfo('Successfully Updated Email')
        })
        .catch(reason => { this.showError(reason) })
    },
    saveFuture (goal) {
      let user = new User(this.profile)
      user.goals.future = goal
      this.$store.dispatch(USER_UPDATE, user)
        .then(response => {
          this.showInfo('Successfully Updated Future Goal')
        })
        .catch(reason => { this.showError(reason) })
    },
    saveLong (goal) {
      let user = new User(this.profile)
      user.goals.long = goal
      this.$store.dispatch(USER_UPDATE, user)
        .then(response => {
          this.showInfo('Successfully Updated Long Term Goal')
        })
        .catch(reason => { this.showError(reason) })
    },
    saveShort (goal) {
      let user = new User(this.profile)
      user.goals.short = goal
      this.$store.dispatch(USER_UPDATE, user)
        .then(response => {
          this.showInfo('Successfully Updated Short Term Goal')
        })
        .catch(reason => { this.showError(reason) })
    }
  },
  mixins: [usesSnackbar]
}
</script>

<style>
  .pointer {
    cursor: pointer;
  }
  .no-transform {
    text-transform: none;
  }
</style>
