<template>
  <v-container
    fluid
    style="min-height: 0;"
    grid-list-lg
  >
    <v-layout wrap>
      <v-flex xs12>
        <v-layout wrap>
          <v-flex lg8 md6 xs12>
            <v-card>
              <v-card-title>
                <v-container fill-height fluid>
                  <v-layout fill-height v-if="!loading">
                    <v-flex xs12 align-end flexbox>
                      <h1 class="display-1">{{ acc.name }}</h1>
                      <simple-dialog
                        name="Initial Savings"
                        :rules="[rules.required, rules.price]"
                        :value="ledger.value"
                        @save="saveLedgerValue"
                      >
                        <h2 class="headline pointer">Initial Savings: ${{ ledger.value.toFixed(2) }}</h2>
                      </simple-dialog>
                      <h2 class="headline">Current Value: ${{ totalValue.toFixed(2) }}</h2>
                      <h2 class="headline">Current Income: ${{ totalIncome.toFixed(2) }}</h2>
                      <h2 class="headline">Current Expenses: ${{ totalExpenses.toFixed(2) }}</h2>
                      <h2 class="headline">Expected Savings: ${{ (ledger.value + totalValue).toFixed(2) }}</h2>
                    </v-flex>
                  </v-layout>
                  <v-progress-circular v-else indeterminate color="primary"></v-progress-circular>
                </v-container>
              </v-card-title>
              <v-card-text>
                <div v-if="!loading">
                </div>
                <v-progress-circular v-else indeterminate color="primary"></v-progress-circular>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex lg4 md6 xs12>
            <v-date-picker
              @input="setMonth"
              landscape
              :value="month"
              type="month"
            ></v-date-picker>
          </v-flex>
        </v-layout>
      </v-flex>
    <template v-if="ledgers.length > 0">
      <v-flex xs12>
        <category-group :loading="loading" :categories="income" title="Income" income/>
      </v-flex>
      <v-flex xs12>
        <category-group :loading="loading" :categories="expenses" title="Expenses"/>
      </v-flex>
      <v-flex xs12>
        <savings></savings>
      </v-flex>
    </template>
    </v-layout>
    <ledger-dialog :dialog="ledgerDialog" @done="closeLedgerDialog" :date="ledgerDialogDate"></ledger-dialog>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import { ACCOUNT_SET_ACTIVE } from '@/store/actions/account'
import {
  LEDGER_SET_ACTIVE,
  LEDGER_SET_VALUE
} from '@/store/actions/ledger'
import usesSnackbar from '@/components/mixins/usesSnackbar'
import { LOADING } from '@/store/status_types'
import CategoryGroup from '@/components/CategoryGroupComponent'
import Savings from '@/components/SavingsComponent'
import LedgerDialog from '@/components/dialogs/LedgerDialog'
import SimpleDialog from '@/components/dialogs/SimpleDialog'
import * as rules from '@/components/dialogs/helpers/ValidationRules'

export default {
  beforeRouteUpdate (to, from, next) {
    let id = parseInt(to.params.id)
    // this.loading = true
    this.$store.dispatch(ACCOUNT_SET_ACTIVE, id).then(response => {
      // this.loading = false
      this.acc = this.account
    }).catch(error => {
      this.showError(error)
    })
    this.showInfo(`Hello Account ${id}!`)
    next()
  },
  components: {
    'category-group': CategoryGroup,
    Savings,
    LedgerDialog,
    SimpleDialog
  },
  computed: {
    ...mapGetters(['account', 'ledger', 'ledgers', 'ledgerDialogDate', 'ledgerStatus', 'categories', 'totalIncome', 'totalExpenses', 'totalValue']),
    month () {
      // console.log(this.ledger.formattedDate)
      return this.ledger.date
    },
    income () {
      let income = this.categories.filter(cat => cat.type === 'income')
      income.sort((a, b) => a.name - b.name)
      return income
    },
    expenses () {
      let expense = this.categories.filter(cat => cat.type === 'expense')
      expense.sort((a, b) => a.name - b.name)
      return expense
    },
    loading () {
      return this.ledgerStatus === LOADING
    }
  },
  created () {
    let id = parseInt(this.id)
    // this.loading = true
    this.$store.dispatch(ACCOUNT_SET_ACTIVE, id).then(response => {
      // this.loading = false
      this.acc = this.account
    }).catch(error => {
      this.showError(error)
    })
    this.showInfo(`Hello Account ${id}!`)
  },
  data () {
    return {
      acc: {},
      // loading: false,
      ledgerDialog: false,
      picker: '',
      rules
    }
  },
  methods: {
    closeLedgerDialog () {
      this.ledgerDialog = false
    },
    saveLedgerValue (value) {
      this.$store.dispatch(LEDGER_SET_VALUE, value)
        .catch(reason => this.showError(reason.message))
    },
    setMonth (date) {
      // this.loading = true
      this.$store.dispatch(LEDGER_SET_ACTIVE, date)
        .then(response => {
          if (response.openDialog) {
            this.ledgerDialog = true
          }
          // this.loading = false
        })
        .catch(error => {
          this.showError(error)
        })
    }
  },
  mixins: [usesSnackbar],
  props: ['id']

}
</script>

<style>

</style>
