<template>
  <v-container
    fluid
    style="min-height: 0;"
    grid-list-lg
  >
    <v-layout wrap>
      <v-flex xs12>
        <v-jumbotron
          :gradient="gradient"
          :src="require('@/assets/home-banner.jpeg')"
          dark
        >
          <v-container fill-height>
            <v-layout align-center>
              <v-flex text-xs-center>
                <h3 class="display-3">Dashboard</h3>
              </v-flex>
            </v-layout>
          </v-container>
        </v-jumbotron>
      </v-flex>
      <v-flex xs12>
        <user-profile></user-profile>
      </v-flex>
      <v-flex xs12>
        <accounts></accounts>
      </v-flex>
      <v-flex xs12>
        <user-management v-if="isAuthorized(userLevel.COACH)"></user-management>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import AccountManagement from '@/components/AccountManagementComponent'
import UserProfile from '@/components/user/UserProfileComponent'
import UserManagement from '@/components/user/UserManagementComponent'
import usesAuthorization from '@/components/mixins/usesAuthorization'

export default {
  /* eslint-disable */
  components: {
    'accounts': AccountManagement,
    UserManagement,
    UserProfile
  },
  /* eslint-enable */
  data () {
    return { gradient: 'to top right, rgba(63,81,181, .7), rgba(25,32,72, .7)' }
  },
  mixins: [usesAuthorization]
}
</script>

<style>

</style>
