<template>
  <v-navigation-drawer
    :value="navigationDrawer"
    clipped
    app
  >
    <v-list dense>
      <v-list-tile v-for="account in accounts" :key="account.id" :to="'/account/'+account.id">
        <v-list-tile-action>
          <v-icon>home</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ account.name }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

    </v-list>
  </v-navigation-drawer>

</template>

<script>
import { mapGetters } from 'vuex'
import { ACCOUNT_INDEX } from '@/store/actions/account'

export default {
  data () {
    return {
      drawer: true,
      loading: false
    }
  },
  computed: { ...mapGetters(['accountsLoaded', 'accounts', 'navigationDrawer', 'logged']) },
  created () {
    if (this.logged && !this.accountsLoaded) {
      this.loading = true
      this.$store.dispatch(ACCOUNT_INDEX).then(() => {
        this.loading = false
      })
        .catch(error => {
          console.log(error)
        })
    }
  }
}
</script>

<style>

</style>
