<template>
  <v-card>
    <v-card-title primary-title>
      <h1 class="display-1">Accounts</h1>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        :style="{ maxWidth: '300px' }"
        hide-details
      ></v-text-field>
      <v-tooltip bottom>
        <account-dialog slot="activator" @save="createAccount">
          <v-btn fab>
            <v-icon large color="info">add</v-icon>
          </v-btn>
        </account-dialog>
        <span>Add Account</span>
      </v-tooltip>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :hide-actions="accounts.length < 5"
      item-key="id"
      :items="filteredAccounts"
      :loading="loading"
      :search="search"
      v-if="users.length > 0"
    >
      <template slot="items" slot-scope="props">
        <td class="primary--text"><router-link :to="'/account/'+props.item.id">{{ props.item.name }}</router-link></td>
        <td>
          <span v-for="(coach, index) in accountCoaches(props.item.id)" :key="coach.name">
            {{coach.name}}<template v-if="index !== accountCoaches(props.item.id).length-1">, </template>
          </span>
        </td>
        <td>{{ props.item.updatedAt.toLocaleString() }}</td>
        <td>{{ props.item.createdAt.toLocaleString() }}</td>
        <td v-if="isAuthorized(1)">
          <v-tooltip bottom>
            <account-dialog slot="activator" :account="props.item" @save="editAccount">
              <v-btn icon>
                <v-icon color="warning">edit</v-icon>
              </v-btn>
            </account-dialog>
            <span>Edit Account</span>
          </v-tooltip>
          <v-tooltip bottom>
            <agree-dialog
              text="Are you sure you want to delete this account?"
              @confirm="deleteAccount(props.item.id)"
              slot="activator"
            >
              <v-btn icon>
                <v-icon color="error">delete</v-icon>
              </v-btn>
            </agree-dialog>
            <span>Delete Account</span>
          </v-tooltip>
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
    <v-data-table
      :headers="headers"
      hide-actions
      :items="[]"
      :loading="true"
      v-else
    ></v-data-table>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import AccountDialog from '@/components/dialogs/AccountDialog'
import AgreeDialog from '@/components/dialogs/AgreeDialog'

import {
  ACCOUNT_INDEX,
  ACCOUNT_CREATE,
  ACCOUNT_UPDATE,
  ACCOUNT_DELETE
} from '@/store/actions/account'
import { AccountItem } from '@/models/item'
import usesAuthorization from '@/components/mixins/usesAuthorization'
import usesSnackbar from '@/components/mixins/usesSnackbar'

export default {
  components: {
    AccountDialog,
    AgreeDialog
  },
  computed: {
    ...mapGetters(['accounts', 'accountCoaches', 'accountsLoaded', 'accountUsers', 'logged', 'users']),
    filteredAccounts () {
      return this.accounts
    }
  },
  created () {
    if (this.logged && !this.accountsLoaded) {
      this.loading = true
      this.$store.dispatch(ACCOUNT_INDEX).then(() => {
        this.loading = false
      })
        .catch(error => {
          console.log(error)
        })
    }
  },
  data () {
    return {
      headers: [
        {
          text: 'Name', value: 'name'
        },
        {
          text: 'Coach(es)', value: 'name', sortable: false
        },
        {
          text: 'Updated At', value: 'updatedAt'
        },
        {
          text: 'Created At', value: 'createdAt'
        },
        {
          text: 'Actions', value: 'name', sortable: false
        }
      ],
      loading: false,
      search: ''
    }
  },
  methods: {
    createAccount (account) {
      this.loading = true
      this.$store.dispatch(ACCOUNT_CREATE, account)
        .then(response => {
          this.loading = false
        })
        .catch(reason => {
          this.loading = false
          this.showError(reason.message)
        })
    },
    editAccount (account) {
      this.loading = true
      this.$store.dispatch(ACCOUNT_UPDATE, new AccountItem(account))
        .then(response => {
          this.loading = false
        })
        .catch(reason => {
          this.loading = false
          this.showError(reason.message)
        })
    },
    deleteAccount (id) {
      this.$store.dispatch(ACCOUNT_DELETE, id)
    }
  },
  mixins: [ usesAuthorization, usesSnackbar ]

}
</script>

<style>

</style>
