<template>
  <div>
    <v-progress-circular
      :value="getValue()"
      :size="size"
      :width="width"
      :rotate="90"
      :color="getColor()"
      :indeterminate="loading"
      class="ma-2 mr-4">
    </v-progress-circular>
  </div>
</template>
<script>
export default {
  props: [
    'income',
    'target',
    'actual',
    'size',
    'width',
    'loading'
  ],
  methods: {
    getValue () {
      if (this.actual < this.target) {
        if (this.income) {
          return Math.floor(this.actual / this.target * 100)
        } else {
          return Math.floor((this.target - this.actual) / this.target * 100)
        }
      } else {
        if (this.income) {
          return 100
        } else {
          return Math.floor((this.actual - this.target) / this.target * 100)
        }
      }
    },
    getColor () {
      if (this.loading) {
        return 'primary'
      }
      if (this.income) {
        return 'success'
      } else {
        if (this.actual < this.target) {
          return 'success'
        } else {
          return 'error'
        }
      }
    }
  }
}
</script>
