<template>
  <v-card>
    <v-container
      fluid
      style="min-height: 0;"
      grid-list-lg
    >
      <v-layout row wrap class="px-3">
        <v-flex xs12>
          <v-card flat>
            <v-card-title>
              <h1>{{ title }}</h1>
              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <category-dialog slot="activator" @save="createCategory" :type="type">
                  <v-btn fab>
                    <v-icon large color="warning">add</v-icon>
                  </v-btn>
                </category-dialog>
                <span>Add Category</span>
              </v-tooltip>
            </v-card-title>
            <v-card-text>
              <v-layout row>
                <budget-circle
                  :actual="value"
                  :target="targetValue"
                  :size="200"
                  :width="20"
                  :income="income"
                  :loading="loading"
                ></budget-circle>
                <v-flex>
                  <v-container fill-height>
                    <v-layout column justify-center>
                      <v-flex class="display-1">Total Budgeted: ${{ targetValue.toFixed(2) }}</v-flex>
                      <v-flex class="display-1">Actual: ${{ value.toFixed(2) }}</v-flex>
                    </v-layout>
                  </v-container>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-expansion-panel :value="expand"  class="elevation-0" v-if="!loading">
          <v-expansion-panel-content>
            <h2 slot="header">Categories</h2>
            <template>
              <v-container
                fluid
                style="min-height: 0;"
                grid-list-lg
              >
                <v-layout row wrap>
                  <v-flex xs12 lg6 v-for="cat in categories" :key="cat.name">
                    <category :category="cat" :income="income" class="elevation-1"></category>
                  </v-flex>
                </v-layout>
              </v-container>
            </template>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
import BudgetCircle from './BudgetCircleComponent'
import Category from '@/components/CategoryComponent'
import CategoryDialog from './dialogs/CategoryDialog'

import { CATEGORY_CREATE } from '@/store/actions/category'

export default {
  components: {
    BudgetCircle,
    Category,
    CategoryDialog
  },
  computed: {
    value () {
      return this.categories.reduce((total, item) => { return total + item.value }, 0)
    },
    targetValue () {
      return this.categories.reduce((total, item) => { return total + item.targetValue }, 0)
    },
    type () {
      return (this.income) ? 'income' : 'expense'
    }
  },
  data () {
    return { expand: false }
  },
  methods: {
    createCategory (category) {
      console.log('Create Category')
      this.loading = true
      this.$store.dispatch(CATEGORY_CREATE, category)
        .then(() => {
          this.loading = false
        })
    }
  },
  props: {
    categories: Array,
    income: Boolean,
    title: String,
    loading: Boolean
  }
}
</script>

<style>

</style>
