<template>
  <v-card>
    <v-container fluid grid-list-lg>
      <v-layout row align-center>
        <budget-circle
          :actual="category.value"
          :target="category.targetValue"
          :size="100"
          :width="10"
          :income="income">
        </budget-circle>
        <v-flex>
          <v-layout row>
            <v-flex>
              <div class="headline">{{ category.name }}</div>
            </v-flex>
            <v-flex>
              <div class="headline">Total Budgeted: ${{ category.targetValue.toFixed(2) }}</div>
              <div class="headline">Actual: ${{ category.value.toFixed(2) }}</div>
            </v-flex>
            <v-speed-dial
              v-model="menuFab"
              direction="bottom"
            >
              <v-btn
                slot="activator"
                color="accent"
                dark
                fab
                hover
                v-model="menuFab"
              >
                <v-icon large>arrow_drop_down</v-icon>
                <v-icon large>arrow_drop_up</v-icon>
              </v-btn>
              <v-tooltip bottom>
                <item-dialog slot="activator" @save="saveItem">
                  <v-btn fab small dark color="success">
                    <v-icon medium>add</v-icon>
                  </v-btn>
                </item-dialog>
                <span>Add Item</span>
              </v-tooltip>
              <v-tooltip bottom>
                <category-dialog slot="activator" :category="category" @save="saveCategory">
                  <v-btn fab small dark color="info">
                    <v-icon medium>edit</v-icon>
                  </v-btn>
                </category-dialog>
                <span>Rename Category</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn fab small dark color="error" slot="activator" @click="deleteCategory()">
                  <v-icon medium>delete</v-icon>
                </v-btn>
                <span>Delete {{ category.name }}</span>
              </v-tooltip>
            </v-speed-dial>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
    <v-data-table
      :headers="headers"
      :items="category.items"
      hide-actions
      item-key="name"
    >
      <template slot="items" slot-scope="props">
        <tr @click="props.expanded = !props.expanded">
          <td>
            <budget-circle
              :actual="props.item.value"
              :target="props.item.targetValue"
              :income="income"
              :size="50"
              :width="7">
            </budget-circle>
          </td>
          <td>{{ props.item.name }}</td>
          <td>{{ "$"+props.item.targetValue.toFixed(2) }}</td>
          <td>{{ "$"+props.item.value.toFixed(2) || 0.00 }}</td>
          <td>
            <v-tooltip bottom>
              <transaction-dialog slot="activator" :itemId="props.item.id" @save="saveTransaction">
                <v-btn icon>
                  <v-icon color="warning">add</v-icon>
                </v-btn>
              </transaction-dialog>
              <span>Add Transaction</span>
            </v-tooltip>
            <v-tooltip bottom>
              <item-dialog slot="activator" @save="saveItem" :item="props.item">
                <v-btn icon>
                  <v-icon color="info">edit</v-icon>
                </v-btn>
              </item-dialog>
              <span>Edit Item</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click="deleteItem(props.item)">
                <v-icon color="error">delete</v-icon>
              </v-btn>
              <span>Delete Item</span>
            </v-tooltip>
            <v-btn icon @click.prevent v-if="props.item.transactions && props.item.transactions.length > 0">
              <v-icon>{{ props.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
            </v-btn>
          </td>
        </tr>
      </template>
      <template slot="expand" slot-scope="props" v-if="props.item.transactions && props.item.transactions.length > 0">
        <v-card flat dark>
          <v-card-title>
            <h3>Transactions</h3>
          </v-card-title>
          <v-divider></v-divider>
          <v-data-table
            :headers="transactionHeaders"
            :items="props.item.transactions"
            hide-actions
            item-key="name"
          >
            <template slot="items" slot-scope="transactions">
              <tr>
                <td>
                  {{ transactions.item.name }}
                </td>
                <td>
                  {{transactions.item.date}}
                </td>
                <td>
                  ${{ transactions.item.value.toFixed(2) }}
                </td>
                <td>
                  <v-tooltip bottom>
                    <transaction-dialog slot="activator" :transaction="transactions.item" :itemId="props.item.id" @save="saveTransaction">
                      <v-btn icon class="mx-0">
                        <v-icon color="warning">edit</v-icon>
                      </v-btn>
                    </transaction-dialog>
                    <span>Edit Transaction</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <v-btn icon class="mx-0" slot="activator" @click="deleteTransaction(props.item, transactions.item)">
                      <v-icon color="error">delete</v-icon>
                    </v-btn>
                    <span>Delete Transaction</span>
                  </v-tooltip>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-card>
      </template>
    </v-data-table>

  </v-card>
</template>

<script>
// TODO: Implement NonBudgeted Items
import BudgetCircle from './BudgetCircleComponent'
import TransactionDialog from './dialogs/TransactionDialog'
import ItemDialog from './dialogs/ItemDialog'
import CategoryDialog from './dialogs/CategoryDialog'
import {
  CATEGORY_UPDATE,
  CATEGORY_DELETE,
  ITEM_CREATE,
  ITEM_UPDATE,
  ITEM_DELETE,
  TRANSACTION_CREATE,
  TRANSACTION_UPDATE,
  TRANSACTION_DELETE
} from '@/store/actions/category'

export default {
  data () {
    return {
      menuFab: false,
      headers: [
        {
          text: 'Visual', value: 'name', sortable: false
        },
        {
          text: 'Item', value: 'name'
        },
        {
          text: 'Budgeted', value: 'value'
        },
        {
          text: 'Actual', value: 'actual', sortable: true
        },
        {
          text: 'Actions', value: 'name', sortable: false
        }
      ],
      transactionHeaders: [
        {
          text: 'Transaction', value: 'name'
        },
        {
          text: 'Date', value: 'date'
        },
        {
          text: 'Spent', value: 'value'
        },
        {
          text: 'Actions', value: 'name', sortable: false
        }
      ]
    }
  },
  props: {
    category: Object,
    income: Boolean
  },
  methods: {
    saveTransaction (args) {
      if (args.transaction.id === undefined) {
        this.$store.dispatch(TRANSACTION_CREATE, {
          id: this.category.id, ...args
        })
      } else {
        this.$store.dispatch(TRANSACTION_UPDATE, {
          id: this.category.id, ...args
        })
      }
    },
    deleteTransaction (item, transaction) {
      confirm('Are you sure you want to delete this transaction?') &&
        this.$store.dispatch(TRANSACTION_DELETE, {
          id: this.category.id,
          itemId: item.id,
          transaction
        })
    },
    deleteItem (item) {
      confirm('Are you sure you want to delete this item?') &&
        this.$store.dispatch(ITEM_DELETE, {
          id: this.category.id, item
        })
    },
    saveItem (item) {
      if (item.id === undefined) {
        this.$store.dispatch(ITEM_CREATE, {
          id: this.category.id, item
        })
      } else {
        this.$store.dispatch(ITEM_UPDATE, {
          id: this.category.id, item
        })
      }
    },
    deleteCategory () {
      confirm('Are you sure you want to delete this category?') &&
        this.$store.dispatch(CATEGORY_DELETE, this.category.id)
    },
    saveCategory (category) {
      this.loading = true
      this.$store.dispatch(CATEGORY_UPDATE, category)
        .then(() => {
          this.loading = false
        })
    }
  },
  computed: { },
  components: {
    BudgetCircle,
    TransactionDialog,
    ItemDialog,
    CategoryDialog
  }

}
</script>
