<template>
  <v-dialog
    v-model="show"
    max-width="500"
    :fullscreen="$vuetify.breakpoint.xsOnly"
  >
    <v-btn slot="activator">Login</v-btn>
    <v-card>
      <v-card-title>
        <span class="headline">Login</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-text-field
          v-model="email"
          label="Email"
          name="email"
          required
          :rules="emailRules"
        />
        <v-text-field
          v-model="password"
          label="Password"
          name="password"
          required
          :rules="passwordRules"
          :append-icon="passwordVisible ? 'visibility_off' : 'visibility'"
          :append-icon-cb="() => (passwordVisible = !passwordVisible)"
          :type="passwordVisible ? 'text' : 'password'"
        />
        </v-container>
        <v-card-actions>
          <v-spacer/>
          <v-btn @click="show = false">Close</v-btn>
          <v-btn @click="login()" :loading="loading">Login</v-btn>
        </v-card-actions>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { AUTH_REQUEST } from '@/store/actions/auth'

export default {
  data () {
    return {
      email: '',
      emailRules: [
        // (v) => !!v || 'Email is required',
        // (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Email have to be a valid email'
      ],
      password: '',
      passwordRules: [
        // (v) => !!v || 'Password is required',
        // (v) => v.length >= 6 || 'Password have to be at least 6 characters long'
      ],
      show: false,
      loading: false,
      passwordVisible: false
    }
  },
  computed: {
    credentials () {
      return {
        email: this.email,
        password: this.password
      }
    }
  },
  methods: {
    login () {
      this.loading = true
      this.$store.dispatch(AUTH_REQUEST, this.credentials).then(response => {
        this.loading = false
        this.$router.push('/dashboard')
      })
    }
  }
}
</script>

<style>

</style>
