<template>
  <v-card>
    <v-container
      fluid
      style="min-height: 0;"
      grid-list-lg
    >
      <v-layout row wrap class="px-3" v-if="!loading">
        <v-flex xs12>
          <v-card flat>
            <v-card-title>
              <h1>Savings</h1>
              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <savings-dialog slot="activator" @save="saveItem">
                  <v-btn fab>
                    <v-icon large color="warning">add</v-icon>
                  </v-btn>
                </savings-dialog>
                <span>Add Item</span>
              </v-tooltip>
            </v-card-title>
            <v-card-text>
              <div class="display-1">Expected Savings: <span :class="(totalSavings > 0) ? 'success--text' : 'error--text' ">${{ totalSavings.toFixed(2) }}</span></div>
              <div class="headline">Actual: {{ savingsPercent }}%</div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-expansion-panel :value="expand"  class="elevation-0">
      <v-expansion-panel-content>
        <h2 slot="header">Items</h2>
        <template>
          <v-list>
            <v-list-tile v-for="item in savings" :key="item.id">
              <v-list-tile-content>
                <v-container fluid>
                  <v-layout>
                    <v-flex md6 xs9>
                      <v-slider
                        :label="item.name"
                        :value="item.value"
                        :color="item.color"
                        @input="balance($event, item)"
                        step="0.001"
                        max="99.9"
                        min="0.1"
                      ></v-slider>
                    </v-flex>
                    <v-flex md3 hidden-sm-and-down>
                      <v-text-field suffix="%" :value="item.value" @change="balance($event, item)"></v-text-field>
                    </v-flex>
                    <v-flex xs3>
                      <v-text-field prefix="$" :value="getDollarValue(item).toFixed(2)" readonly></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-layout row>
                  <v-flex>
                    <v-tooltip bottom>
                      <savings-dialog slot="activator" @save="saveItem" :item="item">
                        <v-btn icon :loading="loading">
                          <v-icon color="warning">edit</v-icon>
                        </v-btn>
                      </savings-dialog>
                      <span>Edit Item</span>
                    </v-tooltip>
                  </v-flex>
                  <v-flex>
                    <v-tooltip bottom>
                      <v-btn icon slot="activator" @click="deleteItem(item)" :loading="loading">
                        <v-icon color="error">delete</v-icon>
                      </v-btn>
                      <span>Delete Item</span>
                    </v-tooltip>
                  </v-flex>
                </v-layout>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </template>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import {
  SAVINGS_CREATE,
  SAVINGS_UPDATE,
  SAVINGS_DELETE
} from '@/store/actions/savings'
import SavingsDialog from '@/components/dialogs/SavingsDialog'
export default {
  components: { SavingsDialog },
  computed: {
    ...mapGetters(['ledger', 'savings', 'savingsPercent', 'totalValue']),
    totalSavings () {
      return (this.ledger.value + this.totalValue)
    }
  },
  data () {
    return {
      loading: false,
      expand: false
    }
  },
  methods: {
    getDollarValue (item) {
      return item.value * this.totalSavings / 100
    },
    balance (value, item) {
      this.loading = true
      this.$store.dispatch(SAVINGS_UPDATE, {
        id: item.id,
        value
      }).then(() => {
        this.loading = false
      })
    },
    saveItem (item) {
      this.loading = true
      console.log(item)
      let method = (item.id) ? SAVINGS_UPDATE : SAVINGS_CREATE
      console.log(method)
      this.$store.dispatch(method, item).then(() => {
        this.loading = false
      })
    },
    deleteItem (item) {
      console.log(item)
      this.loading = true
      this.$store.dispatch(SAVINGS_DELETE, item.id).then(() => {
        this.loading = false
      })
    }
  },
  watch: {}
}
</script>

<style>

</style>
