<template>
  <v-snackbar
      :timeout="snackbarTimeout"
      :color="snackbarColor"
      :multi-line="true"
      v-model="snackbarShow"
      top
    >
      {{ snackbarText }}
      <v-btn dark flat @click.native="closeSnackbar">Close</v-btn>
    </v-snackbar>
</template>

<script>
import usesSnackbar from './mixins/usesSnackbar'

export default { mixins: [usesSnackbar] }
</script>

<style>

</style>
