<template>
  <v-toolbar class="white" app clipped-left>
    <v-toolbar-items>
    <v-btn flat to="/dashboard" active-class="v-btn"><v-toolbar-title>{{ title }}</v-toolbar-title></v-btn>
    </v-toolbar-items>
    <v-spacer/>
    <v-btn color="primary" :disabled="ledgerClean" v-if="$route.name === 'account'" @click="save">{{ (ledgerClean) ? 'Saved' : 'Save' }}</v-btn>
    <login v-if="!logged"></login>
    <v-btn v-else @click="logout">Logout</v-btn>
  </v-toolbar>
</template>

<script>
import { mapGetters } from 'vuex'

import LoginComponent from './LoginComponent.vue'
import { AUTH_LOGOUT } from '@/store/actions/auth'
import { LEDGER_UPDATE } from '@/store/actions/ledger'

export default {
  components: { 'login': LoginComponent },
  computed: { ...mapGetters(['logged', 'title', 'ledgerClean', 'ledger']) },
  data () {
    return {}
  },
  methods: {
    logout () {
      if (this.$store.getters.logged) {
        this.$store.dispatch(AUTH_LOGOUT).then(() => {
          this.$router.push('/')
        })
      }
    },
    save () {
      this.$store.dispatch(LEDGER_UPDATE)
    }
  }
}
</script>

<style>

</style>
