<template>
   <v-app light>
    <toolbar></toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <snackbar />
  </v-app>
  </template>

<script>
import { mapGetters } from 'vuex'
import ToolbarComponent from './components/ToolbarComponent.vue'
import SnackBarComponent from './components/SnackBarComponent.vue'
import { AUTH_PROFILE } from '@/store/actions/auth'

export default {
  computed: { ...mapGetters(['logged']) },
  data () {
    return {}
  },
  name: 'App',
  components: {
    'toolbar': ToolbarComponent,
    'snackbar': SnackBarComponent
  },
  created () {
    if (this.$store.getters.logged) {
      this.$store.dispatch(AUTH_PROFILE)
    }
  }
}
</script>
