<template>
  <v-dialog v-model="dialog" max-width="500px">
    <template slot="activator">
      <slot></slot>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">{{ (account) ? 'Edit' : 'New' }} Account</span>
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-text-field
                  label="Name"
                  :rules="[rules.required, rules.maxCharacters(25)]"
                  v-model="edited.name"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-select
                  :items="filteredUsers"
                  label="Users"
                  v-model="edited.users"
                  :rules="[rules.required]"
                  return-object
                  multiple
                  item-text="name"
                  item-value="id"
                >
                  <template slot="item" slot-scope="data">
                    <v-list-tile-action>
                      <v-checkbox :input-value="data.tile.props.value"></v-checkbox>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                      <v-list-tile-sub-title v-html="data.item.email"></v-list-tile-sub-title>
                    </v-list-tile-content>
                  </template>
                </v-select>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click.native="dialog = false">Close</v-btn>
        <v-btn color="primary" flat @click.native="save" :disabled="!valid" >Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'
import * as rules from './helpers/ValidationRules'
import { AccountItem } from '@/models/item/'

export default {
  computed: {
    ...mapGetters(['user', 'users', 'profile']),
    filteredUsers () {
      return this.users.filter(user => user.id !== this.profile.id).sort((a, b) => a.name - b.name)
    }
  },
  created () {
    if (this.account) {
      this.edited = new AccountItem(this.account)
      this.edited.users = this.account.users.map(userId => this.user(userId))
    }
  },
  data () {
    return {
      dialog: false,
      edited: {
        name: '',
        users: []
      },
      menu: false,
      rules: rules,
      valid: true
    }
  },
  methods: {
    save () {
      if (this.$refs.form.validate()) {
        let account = new AccountItem(this.edited)
        account.users = this.edited.users.map(user => user.id)
        this.$emit('save', account)
        this.dialog = false
      }
    }
  },
  // mixins: [ usesAuthorization ],
  props: ['account'],
  watch: {
    dialog () {
      if (this.dialog) {
        if (this.account) {
          this.edited = new AccountItem(this.account)
          this.edited.users = this.account.users.map(userId => this.user(userId))
        } else {
          this.$refs.form.reset()
        }
      }
    }
  }
}
</script>

<style>

</style>
