<template>
  <v-dialog
    v-model="dialog"
    max-width="500px"
    :persistent="persistent"
  >
    <template slot="activator">
      <slot></slot>
    </template>
    <v-card>
      <v-card-text class="subheading">
        {{ text }}
      </v-card-text>
      <v-card-actions v-if="!ok">
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click.native="dialog = false">Cancel</v-btn>
        <v-btn color="primary" flat @click.native="confirm">Agree</v-btn>
      </v-card-actions>
      <v-card-actions v-else>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click.native="confirm">OK</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data () {
    return { dialog: false }
  },
  methods: {
    confirm () {
      this.$emit('confirm')
      this.dialog = false
    }
  },
  props: {
    text: String,
    persistent: Boolean,
    open: Boolean,
    ok: Boolean
  },
  watch: {
    open () {
      if (this.open) {
        this.dialog = true
      }
    }
  }
}
</script>

<style>

</style>
