<template>
  <v-dialog v-model="dialog" max-width="500px">
    <template slot="activator">
      <slot></slot>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">{{ (category) ? 'Edit' : 'New' }} Item</span>
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field
                  label="Name"
                  :rules="[rules.required, rules.maxCharacters(25)]"
                  v-model="edited.name"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-radio-group
                  label="Type"
                  v-model="edited.type"
                  row
                >
                  <v-radio label="Expense" value="expense" ></v-radio>
                  <v-radio label="Income" value="income"></v-radio>
                </v-radio-group>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click.native="dialog = false">Close</v-btn>
        <v-btn color="primary" flat @click.native="save" :disabled="!valid" >Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import * as rules from './helpers/ValidationRules'
import { CategoryItem } from '@/models/item'
export default {
  created () {
    this.edited = (this.category) ? new CategoryItem(this.category) : {
      name: '',
      type: this.type
    }
  },
  data () {
    return {
      dialog: false,
      edited: {
        name: '',
        type: this.type
      },
      menu: false,
      rules: rules,
      valid: true
    }
  },
  methods: {
    save () {
      if (this.$refs.form.validate()) {
        this.$emit('save', this.edited)
        this.edited = (this.category) ? new CategoryItem(this.category) : {
          name: '',
          type: this.type
        }
        this.dialog = false
      }
    }
  },
  props: ['category', 'type']
}
</script>

<style>

</style>
