<template>
  <v-dialog v-model="dialog" max-width="500px">
    <template slot="activator">
      <slot></slot>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Change Password</span>
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-text-field
                  label="New Password"
                  :rules="[rules.required, rules.password]"
                  v-model="edited.new"
                  :append-icon="passwordVisible ? 'visibility_off' : 'visibility'"
                  :append-icon-cb="() => (passwordVisible = !passwordVisible)"
                  :type="passwordVisible ? 'text' : 'password'"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field
                  label="Confirm Password"
                  :rules="[rules.required, rules.equals(edited.new)]"
                  v-model="edited.confirmed"
                  :append-icon="passwordVisible ? 'visibility_off' : 'visibility'"
                  :append-icon-cb="() => (passwordVisible = !passwordVisible)"
                  :type="passwordVisible ? 'text' : 'password'"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click.native="dialog = false" :disabled="loading">Close</v-btn>
        <v-btn color="primary" flat @click.native="save" :disabled="!valid" :loading="loading">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import * as rules from './helpers/ValidationRules'
import usesSnackbar from '@/components/mixins/usesSnackbar'
import { USER_PASSWORD_RESET } from '@/store/actions/user'
export default {
  data () {
    return {
      dialog: false,
      edited: {
        id: null,
        new: '',
        confirmed: ''
      },
      loading: false,
      passwordVisible: false,
      rules: rules,
      valid: true
    }
  },
  methods: {
    save () {
      if (this.$refs.form.validate()) {
        this.loading = true
        this.edited.id = (this.user) ? this.user.id : this.$store.getters.profile.id
        this.$store.dispatch(USER_PASSWORD_RESET, this.edited)
          .then(response => {
            this.dialog = false
            this.loading = false
            this.$refs.form.reset()
            this.edited.id = null
            let message = (this.user) ? `${this.user.name}'s password has been changed.\nPlease remind them to change their password when they log in.` : 'Your password has been changed.'
            this.showInfo(message)
          })
          .catch(reason => {
            this.loading = false
            this.showError(reason.message)
          })
      }
    }
  },
  mixins: [usesSnackbar],
  props: { user: Object }
}
</script>

<style>

</style>
