<template>
  <v-dialog v-model="dialog" max-width="500px">
    <template slot="activator">
      <slot></slot>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">{{ (item) ? 'Edit' : 'New' }} Item</span>
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6 md4>
                <v-text-field
                  label="Name"
                  :rules="[rules.required, rules.maxCharacters(25)]"
                  v-model="edited.name"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field
                  label="Target Value"
                  prefix="$"
                  :rules="[rules.price]"
                  v-model="edited.targetValue"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click.native="dialog = false">Close</v-btn>
        <v-btn color="primary" flat @click.native="save" :disabled="!valid" >Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import * as rules from './helpers/ValidationRules'
import { BudgetItem } from '@/models/item'
export default {
  created () {
    this.edited = (this.item) ? new BudgetItem(this.item) : {
      name: '',
      targetValue: 0
    }
  },
  data () {
    return {
      dialog: false,
      edited: {
        name: '',
        targetValue: 0
      },
      menu: false,
      rules: rules,
      valid: true
    }
  },
  methods: {
    save () {
      if (this.$refs.form.validate()) {
        this.edited.targetValue = parseFloat(this.edited.targetValue)
        this.$emit('save', this.edited)
        this.edited = (this.item) ? new BudgetItem(this.item) : {
          name: '',
          targetValue: 0
        }
        this.dialog = false
      }
    }
  },
  props: ['item']
}
</script>

<style>

</style>
