<template>
  <v-dialog
    fullscreen
    hide-overlay
    v-model="dialog"
  >
    <v-card>
      <v-toolbar card dark color="primary">
        <v-btn icon dark @click.native="close">
          <v-icon>close</v-icon>
        </v-btn>
        <v-toolbar-title>Create Ledger for {{ formattedDate }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn dark flat @click.native="createLedger" :disabled="!valid">Create</v-btn>
      </v-toolbar>
      <v-card-text>
        <v-form v-model="valid" ref="form">
          <v-container>
            <v-layout row>
              <v-flex xs4>
                <v-subheader>Savings</v-subheader>
              </v-flex>
              <v-flex xs6>
                <v-text-field :rules="[rules.price]" label="Savings" v-model="savings"></v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-tooltip top>
                  <v-icon slot="activator">info</v-icon>
                  <span>We called this "Savings", but really we mean all cash you have access to.</span>
                </v-tooltip>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs4>
                <v-subheader>Template</v-subheader>
              </v-flex>
              <v-flex xs6>
                <v-select label="Template" :items="templates" :disabled="loading" item-text="name" v-model="selectedTemplate"></v-select>
              </v-flex>
              <v-flex xs2>
                <v-tooltip top>
                  <v-icon slot="activator">info</v-icon>
                  <span>Select a template or copy a past month.</span>
                </v-tooltip>
              </v-flex>
            </v-layout>
            <v-layout row v-if="selectedTemplate.copy">
              <v-flex xs4>
                <v-subheader>Select Ledger</v-subheader>
              </v-flex>
              <v-flex xs6>
                <v-select label="Ledger" :items="ledgers" :disabled="loading" item-text="name" v-model="ledger"></v-select>
              </v-flex>
              <v-flex xs2>
                <v-tooltip top>
                  <v-icon slot="activator">info</v-icon>
                  <span>Select a past month to duplicate. Transactions will not be copied.</span>
                </v-tooltip>
              </v-flex>
            </v-layout>
          </v-container>
          <v-container grid-list-xs>
            <v-layout row wrap>
              <v-flex xs12>
                <v-subheader>Template Preview</v-subheader>
              </v-flex>
              <v-flex xs12 lg4 class="px-2">
                <v-card>
                  <v-card-title>
                    <h3>Expenses</h3>
                  </v-card-title>
                  <v-list v-if="!loading">
                    <template v-for="(category, index) in template.expense">
                      <v-subheader :key="category.name">{{category.name}}</v-subheader>
                      <v-list-tile v-for="item in category.items" :key="item.name">
                        <v-list-tile-content>
                          {{item.name}}
                        </v-list-tile-content>
                        <v-list-tile-action-text>
                          ${{item.targetValue}}
                        </v-list-tile-action-text>
                      </v-list-tile>
                      <v-divider :key="category.name" v-if="index != template.expense.length - 1"></v-divider>
                    </template>
                  </v-list>
                  <v-card-text v-else>
                    <v-progress-circular indeterminate></v-progress-circular>
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 lg4 class="px-2">
                <v-card>
                  <v-card-title>
                    <h3>Income</h3>
                  </v-card-title>
                  <v-list v-if="!loading">
                    <template v-for="(category, index) in template.income">
                      <v-subheader :key="category.name">{{category.name}}</v-subheader>
                      <v-list-tile v-for="item in category.items" :key="item.name">
                        <v-list-tile-content>
                          {{item.name}}
                        </v-list-tile-content>
                        <v-list-tile-action-text>
                          ${{item.targetValue}}
                        </v-list-tile-action-text>
                      </v-list-tile>
                      <v-divider :key="category.name" v-if="index != template.income.length - 1"></v-divider>
                    </template>
                  </v-list>
                  <v-card-text v-else>
                    <v-progress-circular indeterminate></v-progress-circular>
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 lg4 class="px-2">
                <v-card>
                  <v-card-title>
                    <h3>Savings</h3>
                  </v-card-title>
                  <v-list v-if="!loading">
                    <v-list-tile v-for="item in template.savings" :key="item.name">
                      <v-list-tile-content>
                        {{item.name}}
                      </v-list-tile-content>
                      <v-list-tile-action-text>
                        {{item.value}}%
                      </v-list-tile-action-text>
                    </v-list-tile>
                  </v-list>
                  <v-card-text v-else>
                    <v-progress-circular indeterminate></v-progress-circular>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import * as rules from './helpers/ValidationRules'
import { mapGetters } from 'vuex'
import {
  LEDGER_REQUEST,
  LEDGER_CREATE,
  LEDGER_TEMPLATE_REQUEST
} from '@/store/actions/ledger'
import LedgerTemplate from '@/models/LedgerTemplate'
import { LedgerItem } from '@/models/item'
import usesSnackbar from '@/components/mixins/usesSnackbar'

export default {
  computed: {
    ...mapGetters(['ledgerDialog', 'ledgerDialogDate', 'ledgers']),
    formattedDate () {
      const [year, month] = this.ledgerDialogDate.split('-')
      return `${month} / ${year}`
    }
  },
  created () {
    this.loading = true
    this.templates = []
    this.$store.dispatch(LEDGER_TEMPLATE_REQUEST)
      .then(response => {
        console.log(response)
        this.templates = [new LedgerTemplate(), {
          name: 'Copy Previous Ledger', copy: true
        }, ...response]
        this.loading = false
      })
  },
  data () {
    return {
      ledger: {},
      loading: false,
      rules: rules,
      savings: 0,
      selectedTemplate: {},
      template: {},
      templates: [],
      tooltip: false,
      valid: true
    }
  },
  methods: {
    close () {
      this.$emit('done')
    },
    createLedger () {
      if (this.$refs.form.validate()) {
        this.loading = true
        this.$store.dispatch(LEDGER_CREATE, new LedgerItem({
          date: this.ledgerDialogDate,
          ...this.template.clone(),
          value: parseFloat(this.savings)
        }))
          .then(() => {
            this.loading = false
            this.close()
          })
          .catch(reason => {
            this.loading = false
            this.showError(reason.message)
          })
      }
    }
  },
  mixins: [usesSnackbar],
  props: ['dialog', 'date'],
  watch: {
    ledger: function () {
      this.$store.dispatch(LEDGER_REQUEST, this.ledger.id)
        .then(response => {
          console.log(response)
          this.template = new LedgerTemplate(response)
        })
    },
    selectedTemplate: function () {
      this.template = this.selectedTemplate
    }
  }
}
</script>

<style>

</style>
