<template>
  <v-dialog v-model="dialog" max-width="500px">
    <template slot="activator">
      <slot></slot>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">{{ (item) ? 'Edit' : 'New' }} Item</span>
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field
                  label="Name"
                  :rules="[rules.required, rules.maxCharacters(25)]"
                  v-model="edited.name"
                  :color="edited.color"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-layout>
                  <v-flex md6 xs9>
                    <v-slider
                      v-model="edited.value"
                      :color="edited.color"
                      step="0.001"
                    ></v-slider>
                  </v-flex>
                  <v-flex md3 hidden-sm-and-down>
                    <v-text-field
                      suffix="%"
                      v-model="edited.value"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click.native="dialog = false">Close</v-btn>
        <v-btn color="primary" flat @click.native="save" :disabled="!valid" >Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import * as rules from './helpers/ValidationRules'
import { SavingsItem } from '@/models/item'
export default {
  created () {
    this.edited = (this.item) ? new SavingsItem(this.item)
      : new SavingsItem({ name: '' })
  },
  data () {
    return {
      dialog: false,
      edited: {
        name: '',
        value: 0
      },
      menu: false,
      rules: rules,
      valid: true
    }
  },
  methods: {
    save () {
      if (this.$refs.form.validate()) {
        console.log(this.edited)
        this.$emit('save', this.edited)
        this.edited = (this.item) ? new SavingsItem(this.item)
          : new SavingsItem({ name: '' })
        this.dialog = false
      }
    }
  },
  props: ['item'],
  watch: {
    item: function (item) {
      this.edited = (this.item) ? new SavingsItem(this.item)
        : new SavingsItem({ name: '' })
    }
  }
}
</script>

<style>

</style>
