<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="500px"
  >
    <template slot="activator">
      <slot></slot>
    </template>
    <v-card>
      <v-card-text>
        <v-container grid-list-xs>
          <v-layout row wrap>
            <v-flex xs10>
              <v-form v-model="valid" ref="form" @submit.prevent="save">
                <v-text-field
                  :name="name"
                  :label="name"
                  v-model="edited"
                  :rules="rules"
                  :multi-line="multiLine"
                ></v-text-field>
              </v-form>
            </v-flex>
            <v-flex xs2>
              <v-layout row wrap flex>
                <v-flex xs6>
                  <v-btn flat icon color="success" :disabled="!valid" @click.native="save">
                    <v-icon>done</v-icon>
                  </v-btn>
                </v-flex>
                <v-flex xs6>
                  <v-btn flat icon color="warning" @click.native="cancel">
                    <v-icon>close</v-icon>
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  created () {
    this.edited = this.value
  },
  data () {
    return {
      dialog: false,
      edited: '',
      valid: true
    }
  },
  methods: {
    save () {
      if (this.$refs.form.validate()) {
        this.$emit('save', this.edited)
        this.dialog = false
      }
    },
    cancel () {
      this.edited = this.value
      this.dialog = false
    }
  },
  props: {
    'value': [String, Number],
    'name': String,
    'rules': Array,
    'multiLine': Boolean
  },
  watch: {
    value () {
      this.edited = this.value
    }
  }
}
</script>
