<template>
  <v-dialog v-model="dialog" max-width="500px">
    <template slot="activator">
      <slot></slot>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">{{ (transaction) ? 'Edit' : 'New' }} Transaction</span>
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6 md4>
                <v-text-field
                  label="Name"
                  :rules="[rules.required, rules.maxCharacters(25)]"
                  v-model="edited.name"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field
                  label="Value"
                  prefix="$"
                  :rules="[rules.required, rules.price]"
                  v-model="edited.value"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-menu
                  ref="menu"
                  :close-on-content-click="false"
                  v-model="menu"
                  :return-value.sync="edited.date"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="edited.date"
                    label="Date"
                    prepend-icon="event"
                    readonly
                    required
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-date-picker v-model="edited.date" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="$refs.menu.save(edited.date)">OK</v-btn>
                  </v-date-picker>
                </v-menu>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click.native="dialog = false">Close</v-btn>
        <v-btn color="primary" flat @click.native="save" :disabled="!valid" >Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import * as rules from './helpers/ValidationRules'
import { TransactionItem } from '@/models/item'
export default {
  created () {
    this.edited = (this.transaction) ? new TransactionItem(this.transaction) : {
      name: '',
      value: 0,
      date: ''
    }
  },
  data () {
    return {
      dialog: false,
      edited: {
        name: '',
        value: 0,
        date: ''
      },
      menu: false,
      rules: rules,
      valid: true
    }
  },
  methods: {
    save () {
      if (this.$refs.form.validate()) {
        this.edited.value = parseFloat(this.edited.value)
        this.$emit('save', {
          itemId: this.itemId, transaction: this.edited
        })
        this.edited = (this.transaction) ? new TransactionItem(this.transaction) : {
          name: '',
          value: 0,
          date: ''
        }
        this.dialog = false
      }
    }
  },
  props: ['transaction', 'itemId']
}
</script>

<style>

</style>
