<template>
  <v-dialog v-model="dialog" max-width="500px">
    <template slot="activator">
      <slot></slot>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">{{ (user) ? 'Edit' : 'New' }} User</span>
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-text-field
                  label="Name"
                  :rules="[rules.required, rules.maxCharacters(25)]"
                  v-model="edited.name"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field
                  label="Email"
                  :rules="[rules.required, rules.email]"
                  v-model="edited.email"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-select
                  :items="levels"
                  label="Level"
                  v-model="edited.level"
                  :rules="[rules.required]"
                ></v-select>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click.native="dialog = false">Close</v-btn>
        <v-btn color="primary" flat @click.native="save" :disabled="!valid" >Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import * as rules from './helpers/ValidationRules'
import User from '@/models/User'
import names from '@/components/helpers/UserLevelNames'
import usesAuthorization from '@/components/mixins/usesAuthorization'
export default {
  computed: {
    levels () {
      let items = []
      for (let i = 0, l = names.length; i < l; i++) {
        if (this.isAuthorized(i)) {
          items.push({
            text: names[i], value: i
          })
        }
      }
      return items
    }
  },
  created () {
    if (this.user) {
      this.edited = new User(this.user)
    }
  },
  data () {
    return {
      dialog: false,
      edited: {
        email: '',
        level: 2,
        name: ''
      },
      menu: false,
      rules: rules,
      valid: true
    }
  },
  methods: {
    save () {
      if (this.$refs.form.validate()) {
        this.$emit('save', this.edited)
        this.dialog = false
      }
    }
  },
  mixins: [ usesAuthorization ],
  props: ['user'],
  watch: {
    dialog () {
      if (this.dialog) {
        if (this.user) {
          this.edited = new User(this.user)
        } else {
          this.$refs.form.reset()
          this.edited.level = 2
        }
      }
    }
  }
}
</script>

<style>

</style>
